body{
    background-image: url("../img/background_main.dark.jpg");
    background-repeat:no-repeat;
    /*background-position: center 64px;*/
    /*margin:0 auto;*/
    background-position: center center;

    background-attachment: fixed;

    /*background-color: antiquewhite;*/
    font-family: 'PT Sans Caption', sans-serif;
}
.marg{
    margin-top: 50px;
}
#head{
    margin: 10px;
    background-color: whitesmoke;
    margin-left: 300px;
    margin-right: 300px;
}
#upper{
    padding-bottom: 50px;
}
#main{
    margin: 10px;
    background-color: whitesmoke;
    margin-left: 300px;
    margin-right: 300px;
}

#foot{
    margin: 10px;
    background-color: whitesmoke;
    margin-left: 300px;
    margin-right: 300px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:center;
}

#galya{
    margin: 10px;
    background-color: whitesmoke;
    margin-left: 300px;
    margin-right: 300px;


}
