body{
    background-color: antiquewhite;
    font-family: 'PT Sans Caption', sans-serif;
}
.marg{
    margin-top: 50px;
}
#head{
    margin: 10px;
    background-color: whitesmoke;
}
#upper{
    padding-bottom: 50px;
}
#main{
    margin: 10px;
    background-color: whitesmoke;
}

#foot{
    margin: 10px;
    background-color: whitesmoke;

}
